# This is a Level 1 header- Start by 1 #

## This is a Level 2 Header with two Hashes

### Finally this is a Level 3 Header but you already knew that

This text is <b> bold </b> and this text is <i> italic </i>

You can also use <sup> superscript </sup> and <sub> subscript </sub> in Markdown

## Assignment and some basic arithmetic operations

In [1]:
x = 6 # a simple Python statement (ughhhh!!!)

In [3]:
x

6

In [4]:
x + 5

11

In [5]:
x * 3

18

In [7]:
x**2

36

In [8]:
x ** -2

0.027777777777777776

In [9]:
x = 10

In [10]:
x % 3

1

In [12]:
2 + 1 # Integer

3

In [13]:
2 + 1.0 # Float

3.0

In [14]:
type(x)

int

In [15]:
float(x)

10.0

In [16]:
type(x/3)

float

In [17]:
x//3 # integer divison. Returns only the integer portion of the answer

3

In [18]:
round(x/3) # Same as above

3

Names can contain [A-z][0-9]

In [19]:
# Type Conversion
x = float(x)

In [20]:
type(x)

float

## String Operations

In [21]:
"Hello"

'Hello'

In [22]:
"Hello Hello" 'Hello'

'Hello HelloHello'

In [23]:
"Hello Hello"

'Hello Hello'

In [24]:
y = "Hello"
y

'Hello'

In [26]:
y + 'Cognizant'

'HelloCognizant'

In [27]:
y + " " + 'Cognizant'

'Hello Cognizant'

In [28]:
# Type conversion to string
y + str(2)

'Hello2'

In [31]:
y * 3

'HelloHelloHello'

### In operator

In [32]:
"e" in "Hello"

True

In [34]:
"h" in "Hello" # Case sensitivity

False

### len() function

In [35]:
len(y * 2)

10

## Indexing and Slicing

In [37]:
y[0] # Unlike R strings in Python do start from 0

'H'

In [39]:
y[len(y)-1]

'o'

In [41]:
y[-1] # Last element

'o'

In [42]:
y[0:2]

'He'

In [44]:
y[1:-1] # Strangely this does not include o. in Python the end point is not included. So you have to use 1+len(string) 
# to print out the end point

'ell'

In [46]:
y[1:] # Or you could do this

'ello'

## Three important differences between Python and R in how indices work:-
    
    1. Numbering starts with 0 in Python: In R it starts with 1
    2. Negative Index Numbers specify starting from the end and moving backwards (in other words, right to left) in Python: in R it means excluding items at those indices
    3. When taking a "slice" using the ":" in Python the endpoint is <b> NOT </b> included in the result but in R it is included.

## Methods

In [50]:
y.index("He") # Gives the tsart point of the substring

0

In [52]:
y.find("xyz") # -1 indicates index is not found

-1

In [53]:
y.lower()

'hello'

In [54]:
y.upper()

'HELLO'

In [55]:
y.isdigit()

False

In [57]:
y1 = "2132323"
y1.isdigit()

True

In [58]:
y2 = "Hello, name"
y2

'Hello, name'

In [59]:
y2.replace("name", "Cognizant")

'Hello, Cognizant'

In [60]:
y3 = "Hi   \n"
print(y3)

Hi

In [62]:
y3.strip()

'Hi'

Removes both leading and trailing spaces

Similarly to remove spaces from left and right use lstrip() and rsrtip()

In [66]:
Web_Address = "www.example.com"
Web_Address

'www.example.com'

In [67]:
Web_Address.lstrip("w.")

'example.com'

In [78]:
Web_Address[::-1] # Reverses a string

'moc.elpmaxe.www'

This is extended slice syntax. It works by doing [begin:end:step] - by leaving begin and end off and specifying a step of -1, it reverses a string.

In [76]:
Web_Address[::2] # Prints every 2nd element

'wweapecm'

In [79]:
Long_String = '''This is a long piece of text
that spans multiple lines. It
begins and ends with triple Quotes'''

In [80]:
Long_String

'This is a long piece of text\nthat spans multiple lines. It\nbegins and ends with triple Quotes'

In [81]:
print(Long_String)

This is a long piece of text
that spans multiple lines. It
begins and ends with triple Quotes

In [87]:
s = "This is line 1 \n\t This is line 2 \n\t\t This is line 3"

In [88]:
s

'This is line 1 \n\t This is line 2 \n\t\t This is line 3'

In [89]:
print(s)

This is line 1
	 This is line 2
		 This is line 3

In [91]:
s =  "yes\\no" # Escaping "\"
print(s)

yes\no

In [92]:
s = 'a b c d e'
s.split()

['a', 'b', 'c', 'd', 'e']

In [93]:
# Split on a different character
s = "a, b, c, d, e"

In [94]:
s.split(",")

['a', ' b', ' c', ' d', ' e']

In [95]:
y.startswith("He")

True

In [96]:
y.endswith("zx")

False

## Chaining Methods

In [97]:
y.lower().startswith("he")

True

In [98]:
y.lower().startswith("He")

False

## Formatting strings

In [102]:
company_name = "Cognizant"

In [106]:
s = "Welcome to %s" % company_name
s

'Welcome to Cognizant'

In [108]:
s = "Welcome to %s in %s" %("Cognizant", "Bangalore")
s

'Welcome to Cognizant in Bangalore'

In [110]:
company = "Cognizant"
city = "Bangalore"
s = 'Welcome to %s in %s' %(company, city) 
s

'Welcome to Cognizant in Bangalore'

In [112]:
temp = 27.6
"The temperature is now %s" % temp

'The temperature is now 27.6'