### Complex Data Types
### Lists

In [3]:
cities = ["Mumbai", "Pune", "Bangalore", "Hyderabad", "Chennai", "Ahmedabad", "Kolkata", "Surat", "Pune", "Jaipur"]

In [4]:
cities

['Mumbai',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Ahmedabad',
 'Kolkata',
 'Surat',
 'Pune',
 'Jaipur']

In [5]:
cities[0]

'Mumbai'

In [6]:
len(cities)

10

In [7]:
cities[-3]

'Surat'

In [9]:
cities[1:4]

['Pune', 'Bangalore', 'Hyderabad']

In [10]:
cities.append("kanpur")
cities

['Mumbai',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Ahmedabad',
 'Kolkata',
 'Surat',
 'Pune',
 'Jaipur',
 'kanpur']

In [11]:
cities.append("Kanpur", "Herat", "Kandahar")

TypeError: append() takes exactly one argument (3 given)

In [12]:
cities.append(["Kanpur", "Herat", "Kandahar"])

In [13]:
cities # The last element became a list instead of getting 3 last elements

['Mumbai',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Ahmedabad',
 'Kolkata',
 'Surat',
 'Pune',
 'Jaipur',
 'kanpur',
 ['Kanpur', 'Herat', 'Kandahar']]

In [14]:
cities.pop() # Removes the last element of a list

['Kanpur', 'Herat', 'Kandahar']

In [15]:
cities

['Mumbai',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Ahmedabad',
 'Kolkata',
 'Surat',
 'Pune',
 'Jaipur',
 'kanpur']

In [16]:
cities.extend(['Kabul', 'Herat', 'Kandahar']) # Takes only one argument

In [17]:
cities

['Mumbai',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Ahmedabad',
 'Kolkata',
 'Surat',
 'Pune',
 'Jaipur',
 'kanpur',
 'Kabul',
 'Herat',
 'Kandahar']

In [18]:
cities.insert(4, "test_city") # To insert at a specific index
cities

['Mumbai',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'test_city',
 'Chennai',
 'Ahmedabad',
 'Kolkata',
 'Surat',
 'Pune',
 'Jaipur',
 'kanpur',
 'Kabul',
 'Herat',
 'Kandahar']

In [19]:
cities.remove("test_city") # So it doesn't remove using the index but the content
cities

['Mumbai',
 'Pune',
 'Bangalore',
 'Hyderabad',
 'Chennai',
 'Ahmedabad',
 'Kolkata',
 'Surat',
 'Pune',
 'Jaipur',
 'kanpur',
 'Kabul',
 'Herat',
 'Kandahar']

In [20]:
"Mumbai" in cities

True

### Lists can hold mixed data types also but this is not recommended.

## Looping constructs

In [21]:
for city in cities:
    print(city)

Mumbai
Pune
Bangalore
Hyderabad
Chennai
Ahmedabad
Kolkata
Surat
Pune
Jaipur
kanpur
Kabul
Herat
Kandahar

In [22]:
for city in cities:
    print(len(city)) # Length of city Names

6
4
9
9
7
9
7
5
4
6
6
5
5
8

In [24]:
for city in cities:
    phrase = "Welcome to " + city
    if 'pur' in city:
        print(phrase + ", which is a city containing pur")
    elif 'bad' in city:
        print(phrase + ", which is a bad city")
    else:
        print(phrase)

Welcome to Mumbai
Welcome to Pune
Welcome to Bangalore
Welcome to Hyderabad, which is a bad city
Welcome to Chennai
Welcome to Ahmedabad, which is a bad city
Welcome to Kolkata
Welcome to Surat
Welcome to Pune
Welcome to Jaipur, which is a city containing pur
Welcome to kanpur, which is a city containing pur
Welcome to Kabul
Welcome to Herat
Welcome to Kandahar

In [26]:
x = range(100)
x

range(0, 100)

In [28]:
range(3,12)

range(3, 12)

In [29]:
for n in range(10):
    print("The inverse of", n, "is", 1/n)

ZeroDivisionError: division by zero

In [32]:
for n in range(1,10):
    print("The inverse of", float(n), "is", round(1/n,2))

The inverse of 1.0 is 1.0
The inverse of 2.0 is 0.5
The inverse of 3.0 is 0.33
The inverse of 4.0 is 0.25
The inverse of 5.0 is 0.2
The inverse of 6.0 is 0.17
The inverse of 7.0 is 0.14
The inverse of 8.0 is 0.12
The inverse of 9.0 is 0.11

In [34]:
for n in range(10):
    if n == 0:
        print("The inverse of 0 is not defined")
    else:
        print("The inverse of", float(n), "is", round(1/n,2))

The inverse of 0 is not defined
The inverse of 1.0 is 1.0
The inverse of 2.0 is 0.5
The inverse of 3.0 is 0.33
The inverse of 4.0 is 0.25
The inverse of 5.0 is 0.2
The inverse of 6.0 is 0.17
The inverse of 7.0 is 0.14
The inverse of 8.0 is 0.12
The inverse of 9.0 is 0.11

In [35]:
3=4

SyntaxError: can't assign to literal (<ipython-input-35-b3c2d8e4d06b>, line 1)

In [36]:
[1,1,2] == [6]

False

In [37]:
[1,1,2] == [1,1,2]

True

In [38]:
[1,1,2] == [1,1,3]

False

List comparisons are not really meaningful when used with inequalities as only first elements are compared. Even in case of equality only overall comparison result is returned unlike in R.

In [39]:
city = cities[0]
city

'Mumbai'

In [43]:
for city in cities:
    if city == "Mumbai":
        print(city, "is in Maharashtra")
    elif city == "Chennai":
        print(city, "is in Tamil Nadu")
    else:
        print("No idea where", city, "is")

Mumbai is in Maharashtra
No idea where Pune is
No idea where Bangalore is
No idea where Hyderabad is
Chennai is in Tamil Nadu
No idea where Ahmedabad is
No idea where Kolkata is
No idea where Surat is
No idea where Pune is
No idea where Jaipur is
No idea where kanpur is
No idea where Kabul is
No idea where Herat is
No idea where Kandahar is

In [46]:
west_city = [cities[0], cities[1], cities[5]]
north_city = ["Delhi", "Surat", "Jaipur", "kanpur"]
south_city = ["Bangalore", "Hyderabad", "Chennai"]

for city in cities:
    if city in west_city:
        print(city, "is in West Zone")
    elif city in north_city:
        print(city, "is in North Zone")
    elif city in south_city:
        print(city, "is in South Zone")
    else:
        print(city, "is in East Zone")

Mumbai is in West Zone
Pune is in West Zone
Bangalore is in South Zone
Hyderabad is in South Zone
Chennai is in South Zone
Ahmedabad is in West Zone
Kolkata is in East Zone
Surat is in North Zone
Pune is in West Zone
Jaipur is in North Zone
kanpur is in North Zone
Kabul is in East Zone
Herat is in East Zone
Kandahar is in East Zone

## In conclusion lists are like vectors but less versatile

## Tuple: Like lists but immutable

In [47]:
t = (1,2,3)
t

(1, 2, 3)

In [48]:
type(t)

tuple

## Dictionaries- mapping objects or associative arrays
### An unordered collection of key value pairs
### Items are not accessed using indices but rather using key value pairs

In [59]:
my_dict = {"Mumbai":28, "Bangalore":22, "Kolkata":27, "Hyderabad":32}

In [60]:
my_dict['Mumbai']

28

In [61]:
len(my_dict)

4

In [62]:
my_dict['Chennai'] = 30

In [63]:
print(my_dict)

{'Mumbai': 28, 'Bangalore': 22, 'Kolkata': 27, 'Hyderabad': 32, 'Chennai': 30}

In [64]:
'Chennai' in my_dict

True

In [65]:
'Ahmedabad' in my_dict

False

In [66]:
del my_dict['Hyderabad'] # Deletes Hyderabad from the dictionary

In [67]:
d_2015 = {'x':10, "y":20}
d_2016 = {"x":100, "z":30, "a":33, "b":66}

In [68]:
d_2016.update(d_2015) # Updates values in one dictionary with values in other dictionary

In [69]:
d_2016

{'a': 33, 'b': 66, 'x': 10, 'y': 20, 'z': 30}